.show-data-wrapper {
    margin: 20px;
    width: 100%;
}

.show-data-btn {
    background-color: black;
    border: none;
    border: solid 5px white;
    color: white;
    font-weight: bold;
    max-width: none;
    padding: 10px;
    transition-duration: 200ms;
}

.show-data-btn:hover {
    box-shadow: 6px 6px 0px 1px white;
    transition-duration: 200ms;
}